.input-group {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    /* justify-content: center; */
    left: 252px;
    top: 125px;
}

#container {
    position: absolute;
    left: 250px;
    top: 200px;
    width: 43.5%;
}

.deleteBtn {
    position: absolute;
    left: 629px;
    top: 1px;
    width: 120px;
}

.editBtn {
    position: absolute;
    left: 752px;
    top: 1px;
    width: 120px;
}